<%- include("header"); -%>
    <div class="about-contact-color-me"></div>
    <div class="about-contact">
        <h2>About Me</h2>
        <p> <%= aboutContent %> </p>
    </div>
  
<%- include("footer"); -%>
