<%- include("header"); -%>
    <h1  class="compose-me">Create Quote</h1>
    <form class="" action="/quote" method="post">
      <div class="form-group">
        <label>Quote</label>
        <textarea class="form-control" name="quoteBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("footer"); -%>
