<%- include("header"); -%>
    <div class="about-contact-color-me"></div>
    <div class="about-contact">
        <h2>Contact</h2>
        <p><%= contactContent %> </p>
    </div>
<%- include("footer"); -%>
